.btn {
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    border: 1px solid;

    &--ghost {
        border-color: #9b9fab;
        color: #9b9fab;

        &.active,
        &:hover {
            border-color: $color-primary;
            color: $color-primary;
        }
    }
}

.p {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: #3a404e;

    &--text {
        grid-column: 1 / -1;
    }
}

.h1 {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3rem;
    grid-column: 1 / -1;
    position: relative;

    &--heading {
        padding-left: 2rem;

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 0.6rem;
            height: 0.6rem;
            background: #f4900c;
            border-radius: 50%;
        }
    }
}

.news {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.9rem;

    &--short {
        color: #181818;
    }

    &--detailed {
        color: #3a404e;
    }
}
